* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
}

.wrapper-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px 10px 20px;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-align-center {
  align-items: center;
}

.flex-end {
  justify-content: flex-end;
}

.justify-content-center {
  justify-content: center;
}

.collapse-padding-bottom {
  padding-bottom: 0 !important;
}

.show-on-mobile {
  display: none;

  @media screen and (max-width: 600px) {
    display: block;
  }
}

.hide-on-mobile {
  @media screen and (max-width: 600px) {
    display: none;
  }
}
