.wrapper-container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px 0 15px 0;
}

.collapse-left-right {
  @media screen and (max-width: 1200px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.margin-15 {
  margin: 15px 0;
}

.margin-top-80 {
  margin-top: 80px;

  @media screen and (max-width: 1024px) and (min-width: 350px) {
    margin-top: 20px;
  }
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.hide-on-medium-down {
  @media screen and (max-width: 1024px) and (min-width: 350px) {
    display: none;
  }
}

.show-on-medium-down {
  display: none;

  @media screen and (max-width: 1024px) and (min-width: 350px) {
    display: block;
  }
}

.no-margin {
  margin: 0;
}

.column-container {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  flex-wrap: wrap;

  @media screen and (max-width: 750px) {
    gap: 20px;
  }

  .column {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &.align-center {
      align-items: center;
    }

    &.align-end {
      align-items: flex-end;
    }

    &.align-start-mobile {
      @media screen and (max-width: 767px) {
        align-items: flex-start;
      }
    }
  }

  &.wrap-on-mobile {
    @media screen and (max-width: 750px) {
      .column {
        flex: unset;
        flex-direction: row;
        align-items: flex-start;
      }

      .location-image {
        max-width: 150px;
        margin-right: 20px;
      }
    }
  }

  &.half-width {
    width: 50%;

    @media screen and (max-width: 1100px) {
      width: 75%;
    }

    @media screen and (max-width: 1024px) {
      width: 100%;
    }
  }
}

ul {
  padding: 0;
}

.section {
  border-top: 2px solid var(--darkgray);
  padding-bottom: 30px;

  &.no-border-top {
    border-top: none;
  }
}

.rounded-edge {
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.hide-on-mobile {
  @media screen and (max-width: 750px) {
    display: none;
  }
}

.featured-image {
  height: 150px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 40px;
  position: relative;
  border-radius: 10px;
  background-position: center;

  @media screen and (max-width: 767px) {
    height: 100px;
  }

  .overlay {
    height: 100%;
  }

  .featured-image-content {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
      color: var(--white);
      margin: 0;
    }
  }
}
