body {
  margin: 0;
  padding: 0;
  width: 100%;
}

.wrapper-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px 10px 20px;
}

.flex {
  display: flex;
  flex-direction: column;
}

.flex-align-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}
