button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-radius: 3px;
	font-size: 1em;
	line-height: 1;
	padding: 15px 25px;
}

.btn {
	border-radius: 3px;
	padding: 15px 25px;
}