input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	border-radius: 3px;
	padding: 3px;
}

textarea {
	width: 100%;
}

.blog-search {
	position: relative;
	width: 250px;

  @media screen and (max-width: 640px) and (min-width: 350px) {
		width: 100%;
	}

	input {
		padding: 10px;
		width: 100%;
		border-radius: 5px;
	}

	.search-icon {
		position: absolute;
		width: 45px;
		height: 100%;
		display: block;
		right: 0;
		top: 0;
		border-radius: 0 5px 5px 0;
		cursor: pointer;

		&:before {
			content: '';
			width: 15px;
			height: 15px;
			display: block;
			border-radius: 10px;
			position: absolute;
			top: 10px;
			left: 12px;
		}

		&:after {
			position: absolute;
			content: '';
			width: 2px;
			height: 10px;
			display: block;
			right: 17px;
			bottom: 10px;
			transform: rotate(-45deg);
		}
	}
}