@use 'buttons';

@use 'fields';

.field-wrap {
  margin: 0 10px;
}

.nf-form-fields-required {
  display: none;
}

input,
textarea {
  color: var(--darkgray) !important;
}

nf-fields-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

nf-field {
  width: 100%;
}

nf-field:nth-child(5),
nf-field:nth-child(6),
nf-field:nth-child(7) {
  width: 100%;
}

.nf-response-msg {
  text-align: center;
  padding: 0 20px;

  p {
    font-family: 'Roboto-bold', Helvetica, Arial, sans-serif !important;
    font-size: 36px !important;
    font-weight: 1000 !important;
    color: var(--darkgray) !important;
    text-align: center;
  }
}

.nf-form-content {
  input[type='submit'] {
    color: var(--white) !important;
    background-color: var(--plum) !important;
    border-radius: 10px !important;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.25s !important;

    &:hover {
      transform: scale(1.1);
      background-color: inherit;
    }
  }
}

.nf-field-label {
  .nf-label-span,
  label {
    font-size: 22px !important;
    color: var(--plum) !important;
    text-transform: uppercase;
    font-family: 'Gotham Bold', sans-serif;
  }
}

#nf-field-37-wrap {
  .nf-field-label {
    label {
      font-size: 18px !important;
      color: var(--black) !important;
      font-family: 'Gotham Regular', sans-serif;
      text-transform: none;
    }
  }
}

.nf-field-element {
  p {
    margin: 0;
    color: var(--plum);
    font-size: 18px !important;
    font-family: 'Gotham Bold', sans-serif;
    text-transform: uppercase;
    margin-bottom: 10px !important;
  }

  .p1 {
    line-height: 1.25em;
    font-size: 0.75em !important;
  }
}

.nf-after-field {
  display: none;
}

#nf-field-23-container,
#nf-field-26-container,
#nf-field-28-container,
#nf-field-29-container,
#nf-field-30-container,
#nf-field-43-wrap {
  margin-bottom: 0;
}

#nf-form-title-3 {
  display: none;
}

#nf-field-21-container,
#nf-field-22-container {
  max-width: 250px;
}

#nf-field-34-wrap {
  .nf-field-element {
    .p1 {
      font-family: 'Gotham Bold', sans-serif !important;
    }
  }
}

.nf-fu-progress {
  margin-bottom: 0;
}

.nf-fu-fileinput-button {
  margin-bottom: 20px !important;
  background-color: var(--plum) !important;

  &:hover {
    transform: scale(1.1);
    background-color: inherit;
    color: var(--white) !important;
  }
}

.btn {
  cursor: pointer;
}

.fa-info-circle {
  &.nf-help {
    color: var(--plum) !important;
    cursor: pointer;
  }
}

.nf-fu-progress {
  max-width: 250px;
  background-color: unset !important;
  box-shadow: unset !important;
}

.files_uploaded {
  border-radius: 0;
  background-color: var(--form-gray) !important;
  min-height: 50px;
  padding: 10px;
  border: 1px solid #c4c4c4;

  &:before {
    content: 'Files Uploaded';
    color: var(--gray) !important;
    display: block;
    margin-bottom: 5px;
  }

  @media screen and (min-width: 768px) {
    max-width: 25%;

    nf-section {
      p {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
      }
    }
  }
}

.delete {
  border: 1px solid var(--plum) !important;
  padding: 5px;
  border-radius: 5px;
  font-size: 0.75em;

  &:hover {
    background-color: var(--plum) !important;
    color: var(--white) !important;
  }
}
