.promo-carousel-wrapper {
  display: flex;
  align-items: center;
}

.promo-carousel {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 20px;
  width: 100%;

  a {
    flex: 0 0 100%;
    scroll-snap-align: start;
  }
}

.promo-item {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.promo-image {
  height: 200px;
  background-size: cover;
  background-position: center;
  margin-bottom: 0;
}

.promo-details {
  padding: 15px;
}

.promo-title {
  color: var(--white);
  margin-bottom: 10px;
}

.promo-code {
  color: var(--white);
  margin-bottom: 15px;
}

.promo-arrow {
  cursor: pointer;
  border: none;
  background-color: unset;
  padding: 0;

  &.left,
  &.right {
    &:disabled {
      cursor: not-allowed;
      opacity: 0.2;
    }
  }
}

.arrow-left {
  width: 20px;
  height: 20px;
  display: block;
  border-top: 2px solid var(--plum);
  border-left: 2px solid var(--plum);
  transform: rotate(-45deg);
  margin-right: 10px;
}

.arrow-right {
  width: 20px;
  height: 20px;
  display: block;
  border-top: 2px solid var(--plum);
  border-right: 2px solid var(--plum);
  transform: rotate(45deg);
  margin-left: 10px;
}
