.faq-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 40px;
}

.button-container {
  gap: 10px;
  margin-bottom: 30px;

  @media screen and (max-width: 767px) {
    justify-content: flex-start;
    margin-bottom: 0;
  }
}

.faq-item {
  flex: 1 1 100%;

  &:not(:last-child) {
    border-bottom: 2px solid var(--charcoal);
  }
}

.faq-question {
  padding: 10px 10px;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background 0.3s;

  &.active {
    background-color: var(--charcoal);
    color: var(--primary-green);

    .faq-toggle {
      &::after {
        border-top: 2px solid var(--primary-green);
        border-right: 2px solid var(--primary-green);
        right: -10px;
        top: -5px;

        @media screen and (max-width: 767px) {
          right: 0;
        }
      }
    }
  }

  @media screen and (min-width: 767px) {
    &:hover {
      background: var(--charcoal);
      color: var(--primary-green);

      .faq-toggle {
        &::after {
          border-top: 2px solid var(--primary-green);
          border-right: 2px solid var(--primary-green);
        }
      }
    }
  }

  > * {
    font-size: 1.5rem !important;
    margin: 0;
    font-family: 'Oswald', sans-serif;
    font-weight: bold !important;

    @media screen and (max-width: 1024px) {
      font-size: 1.2rem !important;
    }

    @media screen and (max-width: 767px) {
      font-size: 16px !important;
      max-width: 80%;
    }
  }

  @media screen and (max-width: 767px) {
    padding: 20px 10px;
  }
}

.faq-answer {
  display: none;
  line-height: 1.6;
  padding: 10px;

  & * {
    @media screen and (max-width: 767px) {
      font-size: 16px !important;
    }
  }

  &.active {
    display: block;
  }
}

.faq-toggle {
  display: flex;

  &::after {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    border-top: 2px solid var(--charcoal);
    border-right: 2px solid var(--charcoal);
    transform: rotate(135deg);
    position: relative;
    right: 10px;

    @media screen and (max-width: 767px) {
      right: 0;
    }
  }

  &.active {
    transform: rotate(-180deg);
    justify-content: flex-end;
  }

  @media screen and (max-width: 767px) {
    width: 5%;
    justify-content: flex-start;
  }
}
