.faq-container {
  display: flex;
  flex-wrap: wrap;
  margin: 40px 0 40px;
}

.faq-item {
  flex: 1 1 100%;
  border-bottom: 2px solid var(--charcoal);

  &:last-child {
    border-bottom: none;
  }
}

.faq-question {
  padding: 30px 30px 30px 20px;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background 0.3s;

  &.active {
    background-color: var(--charcoal);
    color: var(--primary-green);

    .faq-toggle {
      &::after {
        border-top: 2px solid var(--primary-green);
        border-right: 2px solid var(--primary-green);
      }
    }
  }

  @media screen and (min-width: 767px) {
    &:hover {
      background: var(--charcoal);
      color: var(--primary-green);

      .faq-toggle {
        &::after {
          border-top: 2px solid var(--primary-green);
          border-right: 2px solid var(--primary-green);
        }
      }
    }
  }

  > p {
    font-size: 2.2rem;
    margin: 0;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;

    @media screen and (max-width: 1024px) {
      font-size: 1.8rem;
    }

    @media screen and (max-width: 767px) {
      font-size: 1.2rem;
    }
  }

  @media screen and (max-width: 767px) {
    padding: 20px 10px;
  }

  h3 {
    font-size: 2.2rem;

    @media screen and (max-width: 1024px) {
      font-size: 1.8rem;
    }

    @media screen and (max-width: 767px) {
      font-size: 1.2rem;
      width: 15%;
    }
  }

  h4 {
    font-size: 2rem;
    margin-left: 5px;

    @media screen and (max-width: 1024px) {
      font-size: 1.5rem;
    }

    @media screen and (max-width: 767px) {
      font-size: 1.2rem;
      width: 80%;
      padding: 0 10px 0 0;
    }
  }
}

.faq-answer {
  display: none;
  line-height: 1.6;

  &.active {
    display: block;
  }
}

.faq-answer-complex {
  display: flex;

  .faq-image-container,
  .faq-answer-text {
    width: 50%;

    img {
      max-height: 400px;
      object-fit: cover;
      object-position: top;
      display: block;
    }
  }

  .faq-answer-text {
    padding: 20px;
  }
}

.faq-toggle {
  display: flex;

  &::after {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    border-top: 2px solid var(--charcoal);
    border-right: 2px solid var(--charcoal);
    transform: rotate(135deg);
  }

  &.active {
    transform: rotate(-180deg);
    justify-content: flex-end;
  }

  @media screen and (max-width: 767px) {
    width: 5%;
    justify-content: flex-start;
  }
}

.faq-item:nth-child(odd) {
  .complex-image {
    order: 1;
  }
}

.faq-item:nth-child(odd) {
  .complex-answer {
    order: 2;
  }
}

.faq-item:nth-child(even) {
  .faq-image-container {
    order: 2;
  }

  .faq-answer-text {
    padding: 20px 20px 0 0;
  }
}

.faq-item:nth-child(even) .complex-answer {
  order: 1;
}

.faq-answer-simple {
  padding: 20px;
}
