.main-navigation {
  border-top: 2px solid var(--darkgray);
  border-bottom: 2px solid var(--darkgray);

  @media screen and (max-width: 767px) and (min-width: 350px) {
    display: none;
  }

  .container {
    padding: 0 !important;
    display: flex;
    justify-content: space-between;
  }
}

.mobile-nav-trigger {
  display: none;
  width: 25px;
  height: 17px;
  align-items: center;
  position: relative;

  &.open {
    span {
      opacity: 0;
    }

    &::before {
      transform: rotate(45deg);
      top: 4px;
    }

    &::after {
      transform: rotate(-45deg);
      bottom: 10px;
    }
  }

  &::before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    width: 100%;
    height: 3px;
    background-color: var(--darkgray);
    transition: 0.1s;
  }

  &::after {
    content: '';
    position: absolute;
    display: block;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: var(--darkgray);
    transition: 0.1s;
  }

  span {
    height: 3px;
    width: 100%;
    background-color: var(--darkgray);
    transition: 0.1s;
  }

  @media screen and (max-width: 767px) and (min-width: 350px) {
    display: flex;
  }
}

.navigation-items {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  text-transform: uppercase;

  li {
    list-style-type: none;
    color: var(--darkgray);
    font-family: 'Gotham Bold', sans-serif;
    padding: 25px 20px;

    @media screen and (max-width: 640) {
      padding: 10px 10px;
    }

    @media screen and (min-width: 1200px) {
      &:first-child {
        padding-left: 0;
      }
    }

    a {
      color: var(--darkgray);
      font-size: 16px;
      text-decoration: none;
      display: block;
      position: relative;
      overflow: hidden;

      @media screen and (min-width: 640px) {
        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 0;
          height: 2px;
          background-color: var(--darkgray);
          transform: translateX(-50%);
          transition: width 0.2s ease;
        }
      }

      &:hover {
        @media screen and (min-width: 768px) {
          color: var(--darkgray);
        }

        @media screen and (min-width: 640px) {
          &::after {
            width: 100%;
          }
        }
      }
    }
  }
}

.mobile-navigation {
  background-color: var(--white);
  position: absolute;
  left: 0;
  right: 0;
  display: none;
  z-index: 2;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.5);
  padding-top: 35px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 10px;
    background: linear-gradient(
      to right,
      var(--plum),
      var(--lime-green),
      var(--teal)
    );
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 10px;
    background: linear-gradient(
      to right,
      var(--plum),
      var(--lime-green),
      var(--teal)
    );
  }

  @media screen and (min-width: 640px) {
    display: none;
  }

  .navigation-items {
    display: block;

    li {
      display: block;
      padding: 0 20px;
      margin-bottom: 30px;
    }
  }
}

.social-icons {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-around;

  @media screen and (max-width: 1200px) {
    padding-right: 20px;
  }

  @media screen and (max-width: 767px) {
    flex-direction: row;
  }

  a {
    max-width: 50px;
    min-width: 50px;
    display: flex;
    align-items: center;
    transition: opacity 0.3s ease;
    position: relative;
    height: 50px;
    margin: 20px 0 0;

    @media screen and (max-width: 767px) {
      margin-right: 20px;
      margin-top: 5px;
    }

    &:hover {
      .show-on-hover {
        @media screen and (min-width: 768px) {
          display: block;
        }
      }
    }

    img {
      width: 100%;
      display: block;
      transition: opacity 0.3s ease;
      position: absolute;
      border-radius: 10px;

      @media screen and (max-width: 767px) {
        position: relative;
      }

      &.show-on-hover {
        display: none;
      }
    }
  }
}

.mobile-ctas {
  display: flex;
  justify-content: space-around;
  gap: 15px;

  .cta {
    flex: auto;
    color: var(--white);
    padding: 15px 10px;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: 700;
    transition: 0.25s;
    font-family: 'Gotham Bold', sans-serif;
    text-align: center;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 30%;

    @media screen and (max-width: 767px) {
      max-width: 100%;
      font-size: 14px;
    }

    &.plum {
      background-color: var(--plum);
    }

    &.teal {
      background-color: var(--teal);
    }
  }
}
