@font-face {
  font-family: 'Gotham Regular';
  src: url('fonts/Gotham-Book.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Bold';
  src: url('fonts/Gotham-Bold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

body,
button,
input,
select,
optgroup,
textarea {
  font-size: 1em;
  font-family: 'Gotham Regular', sans-serif;
}
